
<style>
    #chat-container{
        min-height: 10rem ;
        max-height: 20rem ;
        overflow-y: scroll;
    }
</style>
<table>
<tr> 
<div class="bg-success text-light">
   <div class="row justify-content-center">
        <div class="col-md-6">
                <h2 style="text-align: center">Ingrese Producto</h2>

            <form action="/api/productos/guardar" id="products-form" method="POST">
                <div class="form-group">
                    <label for="title">Nombre</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="Producto" />
                </div>
                <div class="form-group">
                    <label for="price">Precio</label>
                    <input class="form-control" type="number" id="price" name="price"  placeholder="10"/>
                </div>
                <div class="form-group">
                    <label for="imageUrl">Foto URL:</label>
                    <input class="form-control" type="text" id="imageUrl" name="thumbnail" placeholder="Foto URL"/>
                </div>

                <button class="btn btn-success">Enviar</button>
            </form>
        </div>
        </tr>
        <tr>
        <div class="col-md-6"><div id="productos"></div>
        </tr> 
</div>
<!--CHAT-->

<tr>
<div class="row justify-content-center"></div>
<div class="bg-info text-light">
    <h2>Centro de Mensajes</h2>
        <div class="row mb-2">
            <div class="col-6">
                <input class="form-control bg-dark text-light" id="email" type="email" placeholder="email"  />
            </div>
        </div>
                    
        <div class="p-3  bg-dark text-dark" id="chat-container">
           
        </div>

        <div class="pl-5 pr-5  mt-2" >
            <div  class="row justify-content-center">
                <form id="chat-form" class="col-md-6">
                    <div class="d-flex">
                        <input id="chat-message"class="form-control mr-2" type="text" placeholder="Message"/>
                        <button id="chat-btn" class="btn btn-success" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
 </div>
</tr>
</table>   